# don't add the outputs or temporary/test files
outputs*/
datasets/
fss_inputs/
doc/
config-files/
*archive/
*test*
*.log
# python
*.pyc
*__pycache__*

# vim backup files
.*.sw* 
*.idea*
# emacs backup files
*~
*#

