pandas
numpy 
scipy 
networkx 
# python package to read yaml files
pyyaml
# used to download files
wget
requests
# progress bar
tqdm
# used for plotting
seaborn 
# used for CV and to compute the AUPRC and AUROC
sklearn 
