pandas
numpy 
scipy 
networkx 
# used to upload and visualize networks on GraphSpace
graphspace_python
# python package to read yaml files
pyyaml
# used to download files
wget
requests
# progress bar
tqdm
# used for plotting
seaborn 
# used for CV
sklearn 
# used to compute the AUPRC and AUROC, and for gene set enrichment
rpy2
